/*login*/
.validationicon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  margin: 1% 3%; }

.profilepic .prev{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profilepic{
  margin: 30px auto;
  width:175px;
  height: 175px;
  border-radius: 50%; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profilepic span{
  color:white;
  padding:10px;
  line-height: 10px;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top:155px;
  left:50%;
  margin-left: -100px;
  width: 200px;
}

.profilepic button,.profilepic button:hover{
  border:1px solid white;

  background-color: rgba(0,0,0,0.9);
  border-radius: 50%;
  width:60px;
  height: 60px;
  color:white;
  position: absolute;
  top:0px;
  left:50%;
  margin-left:40px;
}

.profilepic button:{
  border:1px solid white;
  background-color: black;
  border-radius: 50%;
  width:60px;
  height: 60px;
  color:white;
  position: absolute;
  top:120px;
  left:50%;
  margin-left:20px;
}

/*pinboard*/
.pinboard .item-divider {
  font-weight: 200;
  width:100%;
  border: 0;
  margin:-1px 0;
  background-color: #1a1a1a;
  color: white; }

.customavatar {
  position: relative;
  display: block;
  z-index: 3;
  width: 120px;
  height:120px;
  top: -35px;
  left: 2%;
  border-radius: 50%; }

.privatetime {
  width: 100%;
  height: 35px;
  background-color: #1a1a1a;
  color: white;
  padding: 1.5%;
  margin: 0; }

.privatetime span {
  float: right; }




.photoview{
  width:100%;
  height:300px;
}

.photoview div{
  width:5000px;
  height: 5000px;
}

.pinboard .item-avatar, .pinboard .item-avatar .item-content, .pinboard .item-avatar-left, .pinboard .item-avatar-left .item-content {
  
  background-color: #d7d7d7;
  border:black;
  text-align: right;
  margin-top: -131px;
  height: 20px;
  padding-left: 120px; }

.pinboard .priklitemavatar,.pinboard .priklitemavatar h2, .pinboard .priklitemavatar p {
   background-color: #1a1a1a;
   color:white;
 }

 .pinboard .priklitemavatar{
  border: 1px solid white;
 }

.card {
  margin: 50px 3.5%;
    background-color: rgba(0,0,0,0.5);
    color:white;
  overflow: hidden;
  border-radius:0;
  min-height: 0;
  padding: 0;
  display: block;
  overflow: visible; }

.card-body {
  height: 300px;
  width: 100%; }

.photo{
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #222;
  height: 100%; }

 .photoviewmodal{
    top: 0 ;
  bottom: 0 ; 
  left: 0 ;
  right: 0 ;
  background-color:rgba(0,0,0,0.5);
  width: 100% ;
  }

.photoviewmodal div{
  background-size:100% auto;
  background-position: center;
  height:100%;
  background-repeat: no-repeat;
}

.photo span, .photoprev textarea {
  display: inline-block;
  margin-top: 200px;
  margin-left: -10px;
  border-radius:0;
  resize:none;
  padding: 5px;
  max-width: 90%;
  font-weight: 300;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.9);
  color: white; }

.photoprev textarea::-webkit-input-placeholder {
   color: white;
}

.photoprev textarea:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

.photoprev textarea::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

.photoprev textarea:-ms-input-placeholder {  
   color: white;  
}

.prikl .imgbackground {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #333;
  width: 100%;
  height: 100%; }

.photoprev{
  height: 300px;
  width:300px;
  margin:10px auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }


.priklslidebox{
  height: 100%;
  margin:0; }

.priklslidebox ion-slide {
  overflow: hidden;
  padding-top: 43px; }

.priklpic {
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.slide-next,.slide-previous{
  position: absolute;
  color:rgba(0,0,0,0.5);
  font-size: 30px;
  top:50%;
  margin-top: -30px;
  padding:15px;
  z-index: 10;
}

.slide-next{
  right:0;
}

.priklurl{
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.priklurl i, .priklyt i{
  position: absolute;
  color:white;
  top:50%;
  left:50%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 50%;
  padding-left:20px;
  padding-top:10px;
  margin:-50px 0 0 -50px;
  height: 100px;
  width:100px;
  font-size: 80px;
}

.priklyt i{
  font-size: 50px;
  padding-left:35px;
  padding-top:25px;

}

.priklyt {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0; 
    height:80%; 
    overflow: hidden;
}
 
.priklyt iframe,
.priklyt object,
.priklyt embed,
.priklyt youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.priklimage img {
  position: absolute;
  width: 20%;
  left: 50%;
  top: 50%;
  margin: -15% 0 0 -10%; }

.priklcontent {
  width: 100%;
  position: absolute;
  border-top: 1px solid black;
  bottom: 0px;
  z-index: 3;
  padding: 10px;
  background-color: rgba(26,26,26, 0.85); }

  .prikltextstyle{
    height: 100%;
  }


  .prikltextstyle .textje{
    padding:10%;
    text-align: center;
    color:white;
    position: absolute;
  }

  .textje h1{
    color:white;
  }



.priklcontent h2, .priklcontent p, .priklcontent span {
  color: white;
  font-weight: 400; }

.priklreact button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
  margin: 10px;
  border-radius: 50%;
  border-top: 1px solid white;
  border: 1px solid white;
  width: 75px;
  height: 75px;
  background-color: black;
  font-size: 25px;
  color: white; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.textpostmodal {
  
  overflow-y:hidden;
  background-color: rgba(51, 51, 51, 0.9);
  border:1px solid black;
   }

.textpostmodal p{
  color:white;
  text-align:center;
  width: 100%;
  font-size: 12px;
}

.textpostmodal ion-content textarea {
  background-color: rgba(0, 0, 0, 0);
  margin:15px;
  width: 93.8%;
  margin-right:50px;
  border-radius: 15px;
  border-right:1px solid grey;
  border-left:1px solid grey;
  color:white;
  padding: 15px;
  overflow-x: hidden;
  resize: none; }

.darkbackground, .menu-left {
  background-color: #333333; }

.darkbackground form {
  border-radius: 0;
  box-shadow: 0px 0px 15px 2px #333; }

.loadmore {
  border: 0;
  border-top: 1px solid black; }

.reactioninfo {
  font-size: 0.8em;
  font-weight: 200;
  text-align: center;
  height: 20px;
  background-color: grey;
  width: 100%; }

.text {
  padding: 5%;
  display: table;
   font-family: "Courier New", Courier, sans-serif;
  height: 100%;
  width: 100%;
  text-align: center; }

.text span {
  display: table-cell;
  vertical-align: middle; }

.tabs {
  background-color: #d7d7d7; }

.wordbreak {
  word-wrap: break-word;
  text-overflow: clip;
  white-space: normal; }

@media only screen and (min-width: 450px) {
  .photo img {
    margin-top: -100px; } 

  }
@media only screen and (min-width: 600px) {
  .photo img {
    margin: 0; }

  .photoprev {
    height: 57vh; }

  .card {
    width: 46.6%;
    margin: 50px 1.6%;
    float: left;
    display: block; }

  

  .textpostmodal {
    margin-top: 0; } }
@media only screen and (min-width: 900px) {
  .card {
    width: 30%; } 


  }
@media only screen and (min-width: 1200px) {
  .card {
    width: 21.6%; } 


  }

/*# sourceMappingURL=app.css.map */
