  <ion-view title="Groep" hide-Back-Button="true"  ng-init = "load('group')">
  <ion-nav-buttons side="left">
  <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  <i ng-if="loading" class="loadingheadericon icon ion-ios7-reloading"></i>
  </ion-nav-buttons>

  <ion-content class="has-header darkbackground custombg">

  <ion-refresher on-refresh="refresh('group')"
  refreshing-icon="ion-ios7-reloading"
  ng-if="!noConnection">
  </ion-refresher>
  <ion-list class="pinboard" ng-model="listposts">

  <div class="item item-divider"
  ng-repeat-start="(date, posts) in posts | orderBy:'date':true">
  {{posts.date | date:'EEEE d MMMM'}}
  </div>

  <div class="card"  ng-repeat="post in posts.posts track by $index">

    <img class="customavatar" ng-src="{{$root.server}}/images/users/{{post.user_pic}}">
    <div class="item item-avatar" ng-class="{'priklitemavatar': post.prikl_id>0}">
      <h2>{{post.user_firstname}}&nbsp;{{post.user_lastname}}</h2>
      <p>{{post.post_date | date:'HH:mm'}}</p>
    </div>

    <div class="card-body">
      <i class="icon ion-ios7-lightbulb" ng-click="showPrikl(post.prikl_id)" ng-if="post.prikl_id>0"></i>

      <div class= "text" ng-if="post.post_type == 'text'">
        <span ng-style="{'font-size': countchars(post.post_text.length), 'line-height': countchars(post.post_text.length)}">{{post.post_text}}</span>
      </div>

      <div class= "photo" ng-if="post.post_type == 'pic'" data-ng-style="{'background-image':'url({{$root.server}}/posts/images/thumbs/{{post.post_pic}})'}" ng-click="viewPhoto('/posts/images/',post.post_pic)">
        <span ng-if="post.post_text != ''" >{{post.post_text}}</span>
       </div>
    </div>

    <!-- <div class="item tabs tabs-secondary tabs-dark tabs-icon-left dark-bg">
      <a class="tab-item" ng-click="comments(post.idposts)" style = "width: 102%; border:none;">
        <i class="icon ion-chatbox">
        </i> 
        Reageer
      </a>
      </div> -->
      <button class="button button-dark full-width" ng-click="comments(post.idposts, true)">
        <i class="icon ion-chatbox">
        </i>
        Reageer
      </button>
    </div>

    <div ng-repeat-end></div>
  </ion-list>
  <ion-infinite-scroll icon="ion-loading-d" ng-if="!noMoreItemsAvailable && !noConnection" on-infinite="loadMore('group')" distance="20%"></ion-infinite-scroll>
  <div class="item item-divider" style="background-color:transparent;width:100%;color:white;border:0;text-align:center;font-weight:200;" ng-if="posts.length==0 && !loading && !noConnection"><span>Geen berichten</span></div>
  <div class="item item-divider" style="background-color:#333;width:100%;color:white;border:0;text-align:center;" ng-if="noMoreItemsAvailable"><i class=" icon ion-checkmark" ></i></div>
  <div class="item item-divider darkbackground" ng-if="noConnection"><button class="button button-assertive button-block" ng-click="retry('group')">Probeer opnieuw</button></div>

  </ion-content>



  </ion-view>

