<ion-modal-view class="commentmodal" ng-controller="CommentCtrl">
        <ion-header-bar class="bar bar-header bar-dark">
         <button class="button button-primary button-clear" ng-click="commentModal.remove()">Sluiten</button>
          <h1 class="title">Reacties</h1>
        </ion-header-bar>
        <ion-content>

          <span ng-if="postComments.length==0">Nog geen commentaar</span>

          <ion-list ng-init="loadComments()">
              <div class="item" ng-repeat = "commentie in postComments">
                <h2>{{commentie.user_firstname}} {{commentie.user_lastname}}</h2>
                <p class="date">{{commentie.post_comment_date | timeAgo}}</p>
                <p>{{commentie.post_comment_content}}</p>
                <i ng-if = "commentie.user_iduser==userid" ng-click = "deleteComment(commentie.idpost_comments)" class = "ion-close-circled"></i>
              </div>
          </ion-list>


      </ion-content>

      <ion-footer-bar keyboard-attach class="bar-royal item-input-inset">
            <label class="item-input-wrapper">
              <input type="text" ng-model="commentModal.commenttext">
            </label>
            <button class="button button-clear" ng-click="comment_on_post()" ng-disabled="commentModal.commenttext==undefined||commentModal.commenttext.length<2">
              Verzend
            </button>
       </ion-footer-bar>
</ion-modal-view>
