
     <ion-modal-view class="youtubemodal">
        <ion-header-bar class="bar bar-header bar-dark">
          <h1 class="title">{{title}}</h1> 
          <button class="button button-primary button-clear" ng-click="iframemodal.remove()">Klaar</button>
        </ion-header-bar>
        <ion-content class="darkbackground">
        <div class="video-container">
          <youtube-video video-id="ytvideo" player="$root.youtube.player" player-vars="playerVars"></youtube-video>

    
        </div>

      </ion-content>
</ion-modal-view>
