<ion-modal-view class="textpostmodal">
        <ion-header-bar class="bar bar-header bar-dark">
  
         <button class="button button-primary button-clear" ng-click="newpasswordmodal.remove()">Annuleer</button>
  		 <h1 class="title">Wachtwoordreset</h1>
        </ion-header-bar>
        <ion-content>

<form  class="login" name="loginForm" ng-submit="requestPassword()" novalidate>

  <div class="list list-inset">
          <label class="item item-input">
      <input type="email" name="password" placeholder="E-mailadres PrikLaccount" ng-model="credentials.accountmail" required ng-maxlength="50"/>
    </label>
    </div>

    <div class="submitbutton">
      <button class="button button-full button-assertive" ng-disabled="credentials.accountmail==undefined || loginForm.$invalid">
      Reset mijn wachtwoord
      </button>
    </div>
    </form>

        </ion-content>
</ion-modal-view>
