<ion-modal-view ng-controller="PhotoPostCtrl">
        <ion-header-bar class="bar bar-header bar-dark">
         <button class="button button-primary button-clear" ng-click="photomodal.remove()">Annuleren</button>
         <h1 class="title">Foto</h1>
           <button class="button button-primary button-clear" ng-click="post()">Posten</button>
        </ion-header-bar>
        <ion-content class="photoprev darkbackground">

    <div class= "photoprev-cardimage" style="background-image: url('{{photomodal.photo}}');" >
      <textarea type="text" ng-model="photomodal.posttext" placeholder="Typ je bericht hier" maxlength="200"  rows = "5" ></textarea>
   </div>
  </ion-content> 
</ion-modal-view>