<ion-modal-view class="priklmodal" >

<i class="icon ion-close-circled" ng-click="priklviewmodal.remove()"></i>

     <div ng-if="prikl.prikl_type == 'pic' || prikl.prikl_type == 'url'" class="priklmodal-bg" ng-style="{'background-image':'url({{$root.server}}/images/prikls/{{prikl.prikl_file}})'}"> </div>
      <div ng-if="prikl.prikl_type == 'youtube'" class="priklmodal-bg" ng-style="{'background-image':'url(http://img.youtube.com/vi/{{prikl.prikl_url}}/0.jpg)'}">
   		</div>


   		<ion-content>
   			<div class="priklmodal-contentblock">
	     	<h1>{{prikl.prikl_title}}</h1>
	     	<span class="priklmodal-date">{{prikl.prikl_date | momentDate}}</span></br>
	     	<span class="priklmodal-content">{{prikl.prikl_content}}</span>
	     	</div>
	     	
	     	<div class="priklmodal-image" ng-if="prikl.prikl_type == 'pic' || prikl.prikl_type == 'url'"  >
	     	</div>

	     	<div class="youtube-container" ng-if="prikl.prikl_type == 'youtube'" >
	        	  <youtube-video video-id="youtubemodal.youtubeid" player="youtubemodal.youtube.player" player-vars="playerVars">
	              </youtube-video>
	        </div> 

        </ion-content>
  
</ion-modal-view>
