<ion-modal-view class="textpostmodal" ng-controller="TextPostCtrl">
        <ion-header-bar class="bar bar-header bar-dark">
         <button class="button button-primary button-clear" ng-click="textmodal.remove()">Annuleren</button>
          <h1 class="title">Tekst</h1>
           <button class="button button-primary button-clear" ng-click="post()" ng-disabled="textmodal.posttext==undefined||textmodal.posttext.length<2">Verzend</button>
        </ion-header-bar>
        <ion-content>
        <textarea placeholder="Typ hier je tekst" rows="7" maxlength="250" ng-model="textmodal.posttext">
        </textarea>

        <p>{{250 - textmodal.posttext.length}} tekens over</p>

      </ion-content>
</ion-modal-view>
