<ion-modal-view class="youtubemodal">
        <ion-header-bar class="bar bar-header bar-dark">
  
         <button class="button button-primary button-clear" ng-click="youtubemodal.remove()">Klaar</button>
  		 <h1 class="title"></h1>
         <button class="button button-primary button-clear" ng-click="react(currentprikl.prikl_react_type,currentprikl.idprikl)">Reageer</button>
        
        </ion-header-bar>

  
  <i class="icon ion-loading-d"></i>
 
        <div class="youtube-container">
        	  <youtube-video video-id="youtubemodal.youtubeid" player="youtubemodal.youtube.player" player-vars="playerVars">
              </youtube-video>
          </div> 

</ion-modal-view>
