<ion-view title="Account activeren">
<ion-nav-bar class="bar-dark nav-title-slide-ios7">
<ion-nav-back-button class="button-icon ion-arrow-left-c">
</ion-nav-back-button>
</ion-nav-bar>
<ion-content class="has-header darkbackground">


<div class="profilepic" style="background-image: url('{{userinfo.profilepic}}');" ng-click="getPhoto()">
  <span>{{userinfo.userfirstname}} {{userinfo.userlastname}}</span>
  <button class="button button-icon icon ion-camera"></button>
</div>

<form class="login" name="loginForm" ng-submit="activateAccount()" novalidate>
 <div class="list list-inset">
   <label class="item item-input">
    <input type="password" name="password" placeholder="Nieuw wachtwoord" ng-model="credentials.pw" required ng-minlength="6" ng-maxlength="50"/>
    <i class="icon validationicon" ng-class="loginForm.password.$valid ? 'ion-happy' : 'ion-sad'"></i>
  </label>

  <label class="item item-input">
    <input type="password" placeholder="Wachtwoord herhaling" ng-model="credentials.pw2" required/>
    <i class="icon validationicon" ng-class="credentials.pw2 == credentials.pw && credentials.pw2.length>5 ? 'ion-happy' : 'ion-sad'"></i>
  </label>
</div>

   <div class="submitbutton">
    <button class="button button-block button-energized" ng-disabled="credentials.pw2==undefined || credentials.pw==undefined || credentials.pw2 != credentials.pw" type="submit">Aanmelden</button>
  </div>

</form>
</ion-content>
</ion-view>

