<ion-view title="Inloggen">
<div class="bar bar-dark bar-header">
  <div class="h1 title">Inloggen</div>
</div>
<ion-content class="has-header darkbackground">

<h1 class="priklheader">PrikL</h1>

<form  class="login" name="loginForm" ng-submit="verifyAccount()" novalidate>
  <div class="list list-inset">
     <label class="item item-input item-inset">
      <input type="email" name="email" placeholder="E-mailadres PrikLaccount" ng-model="credentials.mail" ng-minlength="4" ng-maxlength="70" required/>
      <i class="icon validationicon" ng-class="loginForm.email.$valid ? 'ion-happy' : 'ion-sad'"></i>
    </label>

    <label class="item item-input">
      <input type="password" name="password" placeholder="Wachtwoord" ng-model="credentials.pw" required ng-minlength="6" ng-maxlength="50"/>
      <i class="icon validationicon" ng-class="loginForm.password.$valid ? 'ion-happy' : 'ion-sad'"></i>
    </label>
  </div>

    <div class="submitbutton">
      <button class="button button-block  button-energized" ng-disabled="loginForm.$invalid" type="submit">Log in</button>
      <a class="button button-block button-clear button-light" ng-click="forgotPassword()">
      Wachtwoord vergeten
      </a>
    </div>

</form>
</ion-content>
</ion-view>