<ion-view title="Instellingen" hide-Back-Button="true" ng-init="loadAccountData()">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  
  <ion-nav-buttons side="right">
    <i ng-if="loading" class="loadingheadericon icon ion-ios7-reloading"></i>
    <button class="button button-clear" ng-disabled="!activateButton" ng-click="saveSettings()">Opslaan</button>
  </ion-nav-buttons>

<ion-content class="has-header darkbackground">



<div class="accountpic" style="background-image: url('{{account.user_pic}}');" ng-click="getNewProfilePic()">
  <button class="button button-icon icon ion-camera"></button>
</div>

<div class="accountinfo setting-list">
{{account.user_firstname}} {{account.user_lastname}}</br>
{{account.user_email}}</br>
Apparaat: {{device.model}} {{device.platform}} {{device.version}} </br><br />
<ul class="list">

  <li class="item item-toggle">
     Notificaties ontvangen van reacties op jouw posts
     <label class="toggle toggle-energized">
       <input type="checkbox" ng-model = "checkboxes.comm1" ng-change = "changeSettings()">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
     <p ng-if = "!checkboxes.comm1" class = "comment-checkbox-val-no">Nee</p>
     <p ng-if = "checkboxes.comm1" class = "comment-checkbox-val-yes">Ja</p>
  </li>
  <li class="item item-toggle">
     Notificaties ontvangen als anderen reageren op dezelfde post
     <label class="toggle toggle-energized">
       <input type="checkbox" ng-model = "checkboxes.comm2" ng-change = "changeSettings()">
       <div class="track">
         <div class="handle"></div>
       </div>

     </label>
     <p ng-if = "!checkboxes.comm2" class = "comment-checkbox-val-no">Nee</p>
     <p ng-if = "checkboxes.comm2" class = "comment-checkbox-val-yes">Ja</p>

  </li>
</ul>
</div>
</ion-content>

</ion-view>

